<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    {% include head.html %}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Screenshot Maker Android",
        "description": "Level up your social posts with the lightweight screenshot maker app - NeonFrame.",
        "operatingSystem": "Android",
        "applicationCategory": "BusinessApplication",
        "offers": {
          "@type": "Offer",
          "price": "0",
          "priceCurrency": "USD"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.5",
          "ratingCount": "30"
        }
      }
    </script>
  </head>

  <body>

    <main>
    {{ content }}
    </main>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
